
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <p class="title-text">
        Về Chúng Tôi

    </p>
    <div class="row">
        <div class="col-lg-12">
            <div class="GT-box">
                <p class="GT-text1">
                    Cuộc sống với những khoảnh khắc tỏa sáng rực rỡ cùng làn da khỏe mạnh, căng tràn độ ẩm là một khái niệm làm đẹp mới từ Nula
                    Dưỡng ẩm được xem như chiếc chìa khóa thiết yếu giúp làn da tỏa sáng từ bên trong. Nula cosmetics với nhiều năm nghiên cứu chuyên sâu về cơ chế giữ ẩm cho làn da dựa trên ý tưởng một làn da căng mọng được cung cấp đầy đủ nước là giải pháp cho nhiều vấn đề về da.
                    Độ ẩm sâu giúp nuôi dưỡng làn da, tăng cường hàng rào bảo vệ da, thanh lọc và duy trì một làn da khoẻ mạnh và rạng rỡ hơn.

                </p>

            </div>
            <div class="GT-img">
                <img class="img-responsive" src="~/images/gioithieu1.jpg" alt="ảnh giới thiệu" />
            </div>
            <div class="GT-box">
                <p class="GT-text1">
                    Cuộc sống với những khoảnh khắc tỏa sáng rực rỡ cùng làn da khỏe mạnh, căng tràn độ ẩm là một khái niệm làm đẹp mới từ Nula
                    Dưỡng ẩm được xem như chiếc chìa khóa thiết yếu giúp làn da tỏa sáng từ bên trong. Nula cosmetics với nhiều năm nghiên cứu chuyên sâu về cơ chế giữ ẩm cho làn da dựa trên ý tưởng một làn da căng mọng được cung cấp đầy đủ nước là giải pháp cho nhiều vấn đề về da.
                    Độ ẩm sâu giúp nuôi dưỡng làn da, tăng cường hàng rào bảo vệ da, thanh lọc và duy trì một làn da khoẻ mạnh, và rạng rỡ hơn.

                </p>

            </div>
        </div>
    </div>
</div>
