
@{
    ViewBag.Title = "K_Innifree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="row">
        <div class="col-lg-5">
            <div class="swiper-container gallery-top wsa-container wsa-gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide imgs" style="background-image:url(../../images/INF/i1.jpg)"></div>
                    <div class="swiper-slide imgs" style="background-image:url(../../images/INF/i2.jpg)"></div>
                    

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs wsa-gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide imgs" style="background-image:url(../../images/INF/i1.jpg)"></div>
                    <div class="swiper-slide imgs" style="background-image:url(../../images/INF/i2.jpg)"></div>
                    
                </div>
            </div>

        </div>
        <div class="col-lg-7">
            <div class="col-lg-12">
                <p class="title-text">
                    Kem Dưỡng Trắng Da Innisfree Jeju Cherry Blossom Tone Up Cream
                </p>
                <div class="title-text">
                    <p class="CTSP-text1">Giá: 650000đ </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="CTSP-main">
                    <div class="CTSP-gioithieu">
                        <div class="border-main">
                            <p class="CTSP-text1">
                                Kem dưỡng trắng da Innisfree là sản phẩm đang “khuẩy đảo” thị trường mỹ phẩm hiện nay.
                                Kem dưỡng Innisfree Jeju Cherry Blossom với thành phần chứa nhiều dưỡng chất từ thảo dược tự nhiên giúp dưỡng ẩm, tăng cường hệ miễn dịch, nâng tông da, dưỡng da trắng hồng và tươi trẻ.
                                Innisfree Jeju Cherry Blossom Tone Up Cream chính là bí quyết cho bạn thêm quyến rũ, thêm tươi trẻ.
                                <br>
                                ĐÃ DƯỠNG TRẮNG DA PHẢI DÙNG KEM CHỐNG NẮNG
                            </p>

                            <div class="CTSP-text1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        Tình trạng:Luôn mới
                                    </div>
                                    <div class="col-lg-6">
                                        Xuất xứ:Korea
                                    </div>
                                    <div class="col-lg-6">
                                        Quy cách:hộp
                                    </div>
                                    <div class="col-lg-6">
                                        Giấy phép:Chuẩn mỹ phẩm an toàn
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <button class="muahang btn-mua btn-add" type="submit"> Mua Hàng</button>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="border-main">
                    <p class="title-text">
                        chi tiết sản phẩm
                    </p>
                    <div class="GT-box">
                        <p class="CTSP-text1">
                            1.Công dụng:

                            <br>
                            Innisfree là sản phẩm mới ra mắt của hãng nằm trong dòng sản phẩm dưỡng da chiết xuất từ hoa anh đào.

                            Tuy hoàn toàn lạ lẫm với giới làm đẹp nhưng sản phẩm này đã nhanh chóng leo lên top 1 những sản phẩm best - seller nhà Innisfree trên toàn thế giới.
                            <br>
                            + Dưỡng trắng sáng, đều màu và nâng tone da
                            <br>
                            +Tăng cường độ ẩm cho da
                            <br>
                            +Cải thiện sắc tố da, làm đồng đều màu da đáng kể
                            <br>
                            +Dưỡng da sáng hồng tự nhiên ngay tức thì
                            
                        </p>
                    </div>

                    <div class="GT-box">
                        <p class="CTSP-text1">
                            2.Cách dùng:
                            <br>
                            +Rửa mặt sạch bằng sữa rửa mặt
                            <br>
                            +Sử dụng toner để cân bằng pH trên da (nếu có)
                            <br>
                            +Lấy một lượng vừa đủ kem dưỡng da Innisfree thoa đều lên da, đặc biệt massage vòng tròn để kem có thể thẩm thấu vào da.
                            <br>
                            +Khỏe đẹp khuyên bạn chỉ nên sử dụng buổi sáng và sử dụng như lớp kem lót trước khi trang điểm
                        </p>
                    </div>
                    <div class="GT-box">
                        <p class="CTSP-text1">
                            3.Đối tượng sử dụng:
                            <br>
                            +Nữ trên 15 tuổi

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            loop: true,
            freeMode: true,
            loopedSlides: 5, //looped slides should be the same
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            loop: true,
            loopedSlides: 5, //looped slides should be the same
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });
    </script>
}



