
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <p class="title-text">
        Tin tức

    </p>
    <div class="khung3">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="row">
                <div class="col-lg-6 vien col-xs-12 col-md-12">
                    <img src="~/images/tin_1.jpg" class="img-responsive" alt="tin tức trang điểm " />
                    <div class="ghichu">
                        <h3 style="max-width:400px ;text-align:center"> <a href="/"> Hãy nắm giữ bí kíp để tránh chọn sai sản phẩm </a></h3>
                        <p class="chuthich">
                            Nếu chị em ta được lấy lại sồ tiền để bỏ ra cho việc mua các sản phẩm trang điểm không phù hợp màu...
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-md-12">

                    <img src="~/images/tin_2.jpg" class="img-responsive" alt="tin tức làm đẹp" />
                    <div class="ghichu">
                        <h3 style="max-width:400px ;text-align:center"> <a href="/"> Làm đẹp da cực dễ dàng nếu nàng nắm được 3 bí kíp </a></h3>
                        <p class="chuthich">
                            Đã mang danh là " Phái Đẹp" nên các cô gái đều mong muốn muốn xinh tươi hết mức có thể trong mắt người đối ...
                        </p>
                    </div>

                </div>

            </div>
            <div class="box-tintuc">
                <div class="row">
                    <div class="col-lg-3 vien col-xs-12 col-md-12">
                        <img style="padding-top:30px" src="~/images/tin_1.jpg" class="img-responsive" alt="tin tức trang điểm " />
                        <div class="ghichu">
                            <h3 style="max-width:400px ;text-align:center"> <a href="/"> Hãy nắm giữ bí kíp để tránh chọn sai sản phẩm </a></h3>
                            <p class="chuthich">
                                Nếu chị em ta được lấy lại sồ tiền để bỏ ra cho việc mua các sản phẩm trang điểm không phù hợp màu...
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 col-md-12">

                        <img style="padding-top:30px" src="~/images/tin_2.jpg" class="img-responsive" alt="tin tức làm đẹp" />
                        <div class="ghichu">
                            <h3 style="max-width:400px ;text-align:center"> <a href="/"> Làm đẹp da cực dễ dàng nếu nàng nắm được 3 bí kíp </a></h3>
                            <p class="chuthich">
                                Đã mang danh là " Phái Đẹp" nên các cô gái đều mong muốn muốn xinh tươi hết mức có thể trong mắt người đối ...
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-xs-12 col-md-12">

                        <img style="padding-top:30px" src="~/images/tin_2.jpg" class="img-responsive" alt="tin tức làm đẹp" />
                        <div class="ghichu">
                            <h3 style="max-width:400px ;text-align:center"> <a href="/"> Làm đẹp da cực dễ dàng nếu nàng nắm được 3 bí kíp </a></h3>
                            <p class="chuthich">
                                Đã mang danh là " Phái Đẹp" nên các cô gái đều mong muốn muốn xinh tươi hết mức có thể trong mắt người đối ...
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-3 col-xs-12 col-md-12">

                        <img style="padding-top:30px" src="~/images/tin_2.jpg" class="img-responsive" alt="tin tức làm đẹp" />
                        <div class="ghichu">
                            <h3 style="max-width:400px ;text-align:center"> <a href="/"> Làm đẹp da cực dễ dàng nếu nàng nắm được 3 bí kíp </a></h3>
                            <p class="chuthich">
                                Đã mang danh là " Phái Đẹp" nên các cô gái đều mong muốn muốn xinh tươi hết mức có thể trong mắt người đối ...
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

