
@{
    ViewBag.Title = "ToNuKhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="row">
        <div class="col-lg-5">
            <div class="swiper-container gallery-top wsa-container wsa-gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide imgs" style="background-image:url(../../images/TNK/t1.png)"></div>
                    <div class="swiper-slide imgs" style="background-image:url(../../images/to-nu-khang.jpg)"></div>

                    <div class="swiper-slide imgs" style="background-image:url(../../images/TNK/t2.png)"></div>
                    <div class="swiper-slide imgs" style="background-image:url(../../images/TNK/t3.jpg)"></div>

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs wsa-gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide imgs" style="background-image:url(../../images/TNK/t1.png)"></div>
                    <div class="swiper-slide imgs" style="background-image:url(../../images/to-nu-khang.jpg)"></div>
                   
                    <div class="swiper-slide imgs" style="background-image:url(../../images/TNK/t2.png)"></div>
                    <div class="swiper-slide imgs" style="background-image:url(../../images/TNK/t3.jpg)"></div>
                </div>
            </div>

        </div>
        <div class="col-lg-7">
            <div class="col-lg-12">
                <p class="title-text">
                    Tố Nữ Khang – Giúp tăng kích thước vòng 1, giúp săn chắc, ngăn chảy xệ.
                </p>
                <div class="title-text">
                    <p class="CTSP-text1">Giá: 550000đ </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="CTSP-main">
                    <div class="CTSP-gioithieu">
                        <div class="border-main">
                            <p class="CTSP-text1">
                                Sức quyến rũ của vòng 1 là điều không cần bàn cãi nữa, đó cũng là khao khát của nhiều chị em ngày nay. Tuy nhiên, không phải ai cũng may mắn có được 1 thân hình nóng bỏng. Chính vì như thế, các chị mới cần đến sự giúp sức của Tố Nữ Khang.Lic là thực phẩm chức năng có tác dụng giảm tích tụ, tăng ly giải mỡ trắng,giúp giảm nhu cầu ăn và số năng lượng nạp vào,thanh nhiệt, giải độc, thanh lọc cơ thể, giảm vết chân chim, vết nhăn và ngăn ngừa lão hóa.
                            </p>

                            <div class="CTSP-text1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        Tình trạng:Luôn mới
                                    </div>
                                    <div class="col-lg-6">
                                        Xuất xứ:Việt Nam
                                    </div>
                                    <div class="col-lg-6">
                                        Quy cách:60 viên/hộp
                                    </div>
                                    <div class="col-lg-6">
                                        Giấy phép:Chuẩn thực phẩm an toàn
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <button class="muahang btn-mua btn-add" type="submit"> Mua Hàng</button>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="border-main">
                    <p class="title-text">
                        chi tiết sản phẩm
                    </p>
                    <div class="GT-box">
                        <p class="CTSP-text1">
                            1.Thành phần thuốc:
                            <br>
                            Viên uống này được sản xuất bằng công nghệ hiện đại, lưu giữ trọn vẹn dược tính của dược liệu. Nhờ vậy, phát huy tốt tác dụng trong từng thành phần. Cụ thể:
                            <br>
                            Tinh chất mầm đậu nành: Bổ sung Isoflavones cho cơ thể. Nó giúp cân bằng nội tiết tố, tăng kích thước vòng 1 tự nhiên. Đồng thời đẩy lùi nguy cơ mắc ung thư vú, giảm nám sạm, tàn nhang da hiệu quả.
                            <br>
                            Chiết suất sắn dây củ tròn: Nó giống với nội tiết tố ở nữ, giúp điều hòa nội tiết tố, giúp phát triển các tế bào cùng ngực, giúp vòng 1 săn chắc, nở nang, đào thải độc tố khỏi cơ thể.
                            <br>
                            Chiết suất sâm tố nữ: Giúp đẩy lùi các triệu chứng của mãn kinh, tiền mãn kinh như bốc hỏa, cáu giận, chán ăn, mất ngủ, mệt mỏi,…Đồng thời làm tăng ham muốn và giúp da sáng màu hơn, mịn màng, tươi trẻ hơn.
                            <br>
                            Chiết xuất hàu biển: Chăm sóc sức khỏe sinh lý tốt, nâng cao hệ miễn dịch, làm chậm quá trình lão hóa, tiêu diệt các tế bào xấu, gây bệnh cho cơ thể.
                            <br>
                            Cao thổ phục linh: Giúp tăng cường sức đề kháng. Giúp thanh lọc cơ thể, nhờ vậy giảm lở ngứa, mụn nhọt, dị ứng, các bệnh ngoài da. Thêm vào đó là điều hòa kinh nguyệt, làm chậm quá trình mãn kinh, tiền mãn kinh.
                            <br>
                            Cao nhân trần: Giúp thanh nhiệt, giải độc, giảm nóng trong. Hơn thế, giúp ăn ngon, ngủ tốt, tăng cường chức năng gan, giảm sưng sưng viêm, hỗ trợ tăng bài tiết mật.
                            
                            <br>Cao đinh lăng: Giúp cân bằng nội tiết tố, nâng cao sức đề kháng, bổ sung nhiều dưỡng chất cho cơ thể. Từ đó, chống suy nhược, mệt mỏi, suy nghĩ tiêu cực.

                        </p>
                    </div>
                    
                    <div class="GT-box">
                        <p class="CTSP-text1">
                            2.Cách dùng:
                            <br>
                            Để mau chóng thấy sự thay đổi cũng như đảm bảo an toàn, các bác sĩ, chuyên gia, khuyên các chị em nên tuân thủ những hướng dẫn dưới đây:
                            <br>
                            Ngày uống 4 viên, mỗi lần uống 2 viên vào buổi sáng và tối. Uống sau khi ăn 10 phút, uống nước nhiều.
                            <br>
                            Người bị huyết áp thấp, người bị rối loạn nội tiết tố gây rong kinh: sử dụng 2 viên/ngày.
                            <br>
                            Phụ nữ mang thai: Uống 2 viên/ ngày.
                            <br>
                            Trẻ em ở tuổi dậy thì: Uống 2 viên/ ngày.
                            <br>
                            Liều duy trì: Uống 2 viên/ ngày.
                            <br>
                            Nên sử dụng sản phẩm từ 6-8 tháng.
                        </p>
                    </div>
                    <div class="GT-box">
                        <p class="CTSP-text1">
                            3.Đối tượng sử dụng:
                            <br>
                            +Có thể thấy rõ, sản phẩm này dành riêng cho phái đẹp. Đặc biệt là những ai đang gặp trở ngại về vòng 1 như:
                            <br>
                            +Phụ nữ muốn tăng kích thước vòng 1
                            <br>
                            +Phụ nữ thiếu hụt nội tiết tố nữ
                            <br>
                            +Phụ nữ có chức năng sinh lý giảm
                            <br>
                            +Phụ nữ thường bốc hỏa, mệt mỏi, cáu giận, mất ngủ, chán ăn.
                            <br>
                            +Các chị em thường nóng trong, nổi mụn nhọt, dị ứng.

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            loop: true,
            freeMode: true,
            loopedSlides: 5, //looped slides should be the same
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            loop: true,
            loopedSlides: 5, //looped slides should be the same
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });
    </script>
}

